* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(216, 137, 240, 0.938);
    color: rgb(0, 2, 128);
    }

h1 {
    font-size: 120px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 60px;
}

#me {
    height: 400px;
    width: 500px;
    align-items: center;
    padding: 30px;
}

.venues {
    font-size: 20px;
    text-align: left;
    float: left;
}

#showbox {
    transform: rotate(90deg);
    height: 300px;
    width: 300px;
}

.concerts {
    font-size: 20px;
    text-align: right;
    float: right;
}

#tribe {
    height: 300px;
    width: 300px;
}

ul {
    list-style: none;
}